// :root {
//     color-scheme: dark;
// }

// .dark {
//     --c-bg: #1e1e1e;
//     --c-text: #ffffff;
//     // 其他深色模式下的变量定义
//   }

// html {
//     --c-bg: #1e1e1e;
//     --c-text: #ffffff;
// }

.vp-hero-action-button {
    border: 2px solid #ffac06;
    color: #ffb727;
}

.vp-hero-action-button:hover {
    border: 2px solid #ffb727;
    color: #ffdb92;
}

.vp-hero-action-button.primary {
    background-color: #f8bf4e;
}

.vp-hero-action-button.primary:hover {
    background-color: #ffd37c;
    border: 2px solid #ffb727;
    color: #ffb727;
}

.vp-navbar-item a:hover,
.vp-navbar-item a.route-link-active {
    color: #ffb727;
}

.vp-navbar-item>a:hover,
.vp-navbar-item>a.route-link-active {
    border-bottom: 2px solid #feb727
}

.vp-back-to-top-button {
    color: #ffc34b;
}

.vp-back-to-top-button:hover {
    color: #ffb727;
}

.vp-sidebar-item.active:not(p.vp-sidebar-heading) {
    color: #ffc34b;
    border-left-color: #ffc34b
}